*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}


.dark-mode {
  background-color: #191515f1;
  color: #ffffff;
}


